.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5vw;
  color: var(--deepblue);
  margin-top: 20vh;
  user-select: none;

  @media screen and (max-width: 1200px) {
    font-size: 7vw;
  }

  @media screen and (max-width: 768px) {
    font-size: 10vw;
  }
}

.selector {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 2vw;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}