.event_card {
  width: 70%;
  aspect-ratio: 4 / 5;
  margin: 1rem auto;
  padding: 1.1rem;
  border: solid 1px var(--text);
  border-radius: 2rem;
  position: relative;
  color: white;
  font-family: var(--mincho);

  @media screen and (max-width: 1200px) and (min-width: 601px) {
    width: 90%;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }

  .img {
    width: 100%;
    height: 40%;
    background-color: rgba(203, 163, 115, .2);
    border: solid 1px var(--text);
    border-radius: 1.5rem;
  }

  .event_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .event_host {
    margin-top: 0.3rem;
    font-size: .8rem;
  }

  .event_location {
    margin-top: 1.5rem;
    line-height: 1.2rem;
    display: flex;
    align-items: center;

    &::before {
      font-family: "Material Symbols Outlined";
      content: "location_on";
      margin-right: 0.5rem;
      font-size: 1.4rem;
    }
  }

  .event_brief {
    margin-top: 1rem;
  }

  .event_tags {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    .tag {
      font-size: 0.8rem;
      background-color: var(--text);
      padding: .4rem .8rem;
      border-radius: 1rem;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: var(--text);
    border-radius: 0 0 2rem 2rem;

    .bottom_inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20%;
      height: .1rem;
      background-color: #ffffff;
      border-radius: 10px;
    }
  }
}