.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vw;
  background: none;
  width: 100vw;
  position: relative;
  /* margin: 5vh auto; */
}
.search_bar input[type="search"] {
  background: transparent;
  border-radius: 3vw;
  box-shadow: 0 0 0 0.5vw #171717 inset;
  padding: 1.5vw;
  width: 4vw;
  height: 4vw;
  transform: translate(1.4vw,0.7vw) scale(0.5);
  transform-origin: 100% 0;
  transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  color: #171717;
  font: 2vw 'Hind', sans-serif;
  line-height: 3vw;
  border: none;
  outline: none;
  appearance: none;
}

.search_bar input[type="search"]:focus,
.search_bar input[type="search"]:valid {
  background: #fff;
  border-radius: 10vw;
  box-shadow: 0 0 0 0.08vw #d9d9d9 inset;
  transform: scale(1);
  width: 40vw;   /* 例: ボタンと合わせてmax-width内に収まるように */
  height: 1.5vw;
  font-size: 1vw;
  outline: transparent;
}

.search_bar input[type="search"]:invalid:not(:focus),
.search_btn {
  cursor: pointer;
}

.search_btn {
  background: #171717;
  border-radius: 0 1.5vw 1.5vw 0 / 0 3vw 3vw 0;
  padding: 1.5vw;
  position: relative;
  width: 5vw;
  height: 3.5vw;
  margin-left: .05vw;
  transform: translate(.9vw,.3vw) rotate(45deg) scale(0.25,0.125);
  transform-origin: 0 50%;
  transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  color: #fff;
  border: none;
  outline: none;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search_btn:before {
  border-radius: 50%;
  box-shadow: 0 0 0 0.15vw #f1f1f1 inset;
  top: 47%;
  left: 48%;
  width: 1.1vw;
  height: 1.1vw;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 1;
  background: transparent;
  content: "";
}

.search_btn:after {
  background: #f1f1f1;
  border-radius: 0 0.5vw 0.5vw 0;
  top: 67%;
  left: 65%;
  width: 0.6vw;
  height: 0.2vw;
  transform: rotate(45deg) translate(-50%, -50%);
  transform-origin: 0 50%;
  position: absolute;
  opacity: 1;
  content: "";
}

/* フォーカス時のみ疑似要素を表示 */
.search_btn:before,
.search_btn:after {
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
}
.search_bar input[type="search"]:focus + .search_btn:before,
.search_bar input[type="search"]:focus + .search_btn:after,
.search_bar input[type="search"]:valid + .search_btn:before,
.search_bar input[type="search"]:valid + .search_btn:after {
  opacity: 1;
}

.search_btn span {
  display: inline-block;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Active state */
.search_bar input[type="search"]:focus + .search_btn,
.search_bar input[type="search"]:valid + .search_btn {
  background: #c5c5c5;
  border-radius: 50%;
  transform: scale(1);
  width: 3vw;
  height: 3vw;
  margin-left: 1vw;
  padding: 1.5vw;
  font-size: 2vw;
  transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
}

.search_bar input[type="search"]:focus + .search_btn:before,
.search_bar input[type="search"]:focus + .search_btn:after,
.search_bar input[type="search"]:valid + .search_btn:before,
.search_bar input[type="search"]:valid + .search_btn:after {
  opacity: 1;
}

.search_bar input[type="search"]:focus + .search_btn:hover,
.search_bar input[type="search"]:valid + .search_btn:hover,
.search_bar input[type="search"]:valid:not(:focus) + .search_btn:focus {
  background: #424242;
}

.search_bar input[type="search"]:focus + .search_btn:active,
.search_bar input[type="search"]:valid + .search_btn:active {
  transform: translateY(0.2vw);
}

@media screen and (max-width: 600px) {
  .search_bar {
    max-width: 90vw;
    padding: 4vw;
  }

  .search_bar input[type="search"] {
    padding: 0;
    width: 18vw;
    height: 18vw;
    border-radius: 10vw;
    box-shadow: 0 0 0 2vw #171717 inset;
    transform: translate(4vw,3.5vw) scale(0.5);
  }

  .search_bar input[type="search"]:focus,
  .search_bar input[type="search"]:valid {
    background: #fff;
    border-radius: 10vw;
    box-shadow: 0 0 0 0.2vw #d9d9d9 inset;
    transform: scale(1);
    width: 65vw;
    height: 12vw;
    padding: 2vw 3vw;
    font-size: 5vw;
    outline: transparent;
  }

  .search_btn {
    background: #171717;
    border-radius: 0 3vw 3vw 0 / 0 6vw 6vw 0;
    padding: 1.5vw;
    position: relative;
    width: 18vw;
    height: 15vw;
    margin-left: .05vw;
    transform: translate(2vw,1.5vw) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
    transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
    color: #fff;
    border: none;
    outline: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .search_btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.6vw #f1f1f1 inset;
    top: 47%;
    left: 48%;
    width: 4.5vw;
    height: 4.6vw;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 1;
    background: transparent;
    content: "";
  }

  .search_btn:after {
    background: #f1f1f1;
    border-radius: 0 0.5vw 0.5vw 0;
    top: 67%;
    left: 65%;
    width: 3vw;
    height: 1vw;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 50%;
    position: absolute;
    opacity: 1;
    content: "";
  }

  .search_btn:before,
  .search_btn:after {
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  }

  .search_bar input[type="search"]:focus + .search_btn,
  .search_bar input[type="search"]:valid + .search_btn {
    background: #c5c5c5;
    border-radius: 50%;
    transform: scale(1);
    width: 12vw;
    height: 12vw;
    margin-left: 1vw;
    padding: 1.5vw;
    font-size: 2vw;
    transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {
  .search_bar {
    max-width: 95vw;
    padding: 3vw;
  }

  .search_bar input[type="search"] {
    padding: 0.8vw;
    width: 10vw;
    height: 10vw;
    border-radius: 6vw;
    box-shadow: 0 0 0 1.3vw #171717 inset;
    transform: translate(2.2vw,1.8vw) scale(0.5);
    font-size: 2.5vw;
  }

  .search_bar input[type="search"]:focus,
  .search_bar input[type="search"]:valid {
    background: #fff;
    border-radius: 6vw;
    box-shadow: 0 0 0 0.15vw #d9d9d9 inset;
    transform: scale(1);
    width: 45vw;
    height: 8vw;
    padding: 1.5vw 2vw;
    font-size: 2.5vw;
    outline: transparent;
  }

  .search_btn {
    background: #171717;
    border-radius: 0 2vw 2vw 0 / 0 4vw 4vw 0;
    padding: 1vw;
    position: relative;
    width: 10vw;
    height: 9vw;
    margin-left: .05vw;
    transform: translate(1vw,.8vw) rotate(45deg) scale(0.25,0.125);
    transform-origin: 0 50%;
    transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
    color: #fff;
    border: none;
    outline: none;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .search_btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.4vw #f1f1f1 inset;
    top: 47%;
    left: 48%;
    width: 2.5vw;
    height: 2.5vw;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 1;
    background: transparent;
    content: "";
  }

  .search_btn:after {
    background: #f1f1f1;
    border-radius: 0 0.5vw 0.5vw 0;
    top: 67%;
    left: 65%;
    width: 1.5vw;
    height: 0.5vw;
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: 0 50%;
    position: absolute;
    opacity: 1;
    content: "";
  }

  .search_btn:before,
  .search_btn:after {
    opacity: 0;
    transition: opacity 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  }

  .search_bar input[type="search"]:focus + .search_btn,
  .search_bar input[type="search"]:valid + .search_btn {
    background: #c5c5c5;
    border-radius: 50%;
    transform: scale(1);
    width: 8vw;
    height: 8vw;
    margin-left: 0.7vw;
    padding: 1vw;
    font-size: 1.5vw;
    transition: all 0.25s cubic-bezier(0.694,0.048,0.335,1.000);
  }
}