.menu_wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 500;
}

.menu_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.menu_content {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30vw;
  height: 90vh;
  background-color: #F2F2F2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 501;
  pointer-events: none;

  @media screen and (max-width: 768px) {
    width: calc(100vw - 40px);
    height: 80vh;
  }

  @media screen and (max-width: 480px) {
    height: 77vh;
  }

  a {
    color: black;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 502;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}