.main {
  position: relative;
  width: 100%;
  height: 200vh;

  .threeD {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    /* background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); */
  }

  .container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding-top: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 150vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;

      h1 {
        font-size: 100px;
        font-family: 'Zen Old Mincho', serif;
        /* opacity: 0; */
      }
      p {
        font-size: 20px;
        font-family: 'Zen Old Mincho', serif;
        /* opacity: 0; */
      }
    }

    .news {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .news_inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        padding: 0 10%;

        .news_title {
          font-size: 5rem;
          font-family: 'Zen Old Mincho', serif;
          margin-right: auto;

        }

        .news_items {
          width: 100%;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 10px;

          .news_item {
            width: 15vw;
            height: 20vw;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            color: #1b1b1b;
            padding: 1.5rem;

            h2 {
              font-size: 1.5rem;
              font-family: 'Zen Old Mincho', serif;
            }
            p {
              width: fit-content;
              margin-top: 1rem;
              font-size: 1rem;
              font-family: 'Zen Old Mincho', serif;
              background-color: #d1d1d1;
              padding: 0.2rem 1rem;
              border-radius: 50px;
            }
          }
        }
      }
    }

    .search {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      backdrop-filter: blur(10px);


      .search_inner {
        margin: 0 auto;
        margin-bottom: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15rem;


        .search_title {
          font-size: 6vw;
          font-weight: bold;
          color: #fff;
          margin: 15vh 0;

          @media screen and (max-width: 768px) {
            font-size: 10vw;
          }

          @media screen and (max-width: 480px) {
            font-size: 15vw;
          }
        }

        .function_wrapper {
          width: 70vw;
          display: flex;
          flex-direction: column;
          align-items: center;

          @media screen and (max-width: 768px) {
            width: 80vw;
          }

          @media screen and (max-width: 480px) {
            width: 90vw;
          }

          .functionItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 100%;
          }

          .eventSearch {
            display: flex;
            align-items: center;
            width: 60vw;
            height: 5vw;
            border-radius: 10rem;
            /* background-color: #f0f0f0; */
            margin-top: 5rem;
            background-color: rgb(240, 240, 240, 0.1);

            @media screen and (max-width: 768px) {
              width: 70vw;
              height: 10vw;
            }

            @media screen and (max-width: 480px) {
              width: 80vw;
              height: 15vw;
            }

            a {
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 10rem;

              .eventSearch_inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 10rem;
                position: relative;

                .icon_wrapper {
                  margin: 1.5rem;
                  width: 3vw;
                  height: 3vw;

                  .search_icon {
                    width: 100%;
                    height: 100%;
                    filter: brightness(4);
                  }

                  @media screen and (max-width: 768px) {
                    width: 5vw;
                    height: 5vw;
                  }

                  @media screen and (max-width: 480px) {
                    width: 7vw;
                    height: 7vw;
                  }
                }

                p {
                  display: block;
                  font-size: 1.8vw;
                  color: #ffffff;
                  font-family: 'ZenOldMincho', serif;
                  font-weight: 500;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);


                  @media screen and (max-width: 768px) {
                    font-size: 3vw;
                  }

                  @media screen and (max-width: 480px) {
                    font-size: 4vw;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}