/* アニメーション用CSSカスタムプロパティ */
@property --border-angle-1 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}
@property --border-angle-2 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 90deg;
}
@property --border-angle-3 {
  syntax: "<angle>";
  inherits: true;
  initial-value: 180deg;
}

@keyframes rotateBorder1 {
  to { --border-angle-1: 360deg; }
}
@keyframes rotateBorder2 {
  to { --border-angle-2: -270deg; }
}
@keyframes rotateBorder3 {
  to { --border-angle-3: 540deg; }
}


.wrapper {
  overflow: auto;
  background: #141414;
}

/* 横スクロールテキスト用 */
.scrolling_text {
  margin-top: 10dvh;
  width: 100%;
  overflow: hidden;
  height: 40dvh;
  display: flex;
  align-items: center;
  background: var(--color-just-black);

  @media screen and (max-width: 600px) {
    height: 20dvh;
  }
}

.rail {
  display: flex;
}

.rail_text {
  white-space: nowrap;
  font-size: 15rem;
  font-weight: 900;
  color: var(--text);
  margin-right: 30px;
  font-family: var(--mincho);

  @media screen and (max-width: 600px) {
    font-size: 10rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
}

.title {
  font-size: 5vw;
  color: var(--deepblue);
  margin-top: 20dvh;
  user-select: none;

  @media screen and (max-width: 1200px) {
    font-size: 7vw;
  }

  @media screen and (max-width: 768px) {
    font-size: 10vw;
  }
}

.selector {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 20px;
  width: 100%;

  .tab_content {
    width: 100%;
    padding: 0 1vw;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 1vw;

    .option {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2vw 1vw;
      border-radius: 10px;
      background-color: inherit;
      outline: solid 1px var(--text);
      outline-offset: -1px;
      color: rgb(223, 223, 223);

      /* background-color: #fefefe; */

      &.selected {
        outline: none;
      }

      & > p {
        font-size: 1.2vw;
        user-select: none;
        font-family: "游明朝", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho", serif;
      }

      &.date {
        & > span {
          font-size: 1vw;
        }

        /* &.date_20 {
          background-color: #fcfcfc;
        }

        &.date_21 {
          background-color: #FFEAEA;
        } */
      }

      &.area {

        /* &.juniorHighSchool {
          background-color: #EAF6FF;
        }

        &.highSchool {
          background-color: #FFEAEA;
        }

        &.yard {
          background-color: #EAFFEC;
        }

        &.gym {
          background-color: #FAEAFF;
        } */
      }

    }

  }
}

.tab_row {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

/* スマホサイズで1行1列に */
@media screen and (max-width: 600px) {
  .selector {
    flex-direction: column;
    gap: 2vw;
    align-items: center;
  }

  .tab_row {
    flex-direction: column;
    gap: 2vw;
    width: 100%;
    align-items: center;
  }

  .tab_content {
    flex-direction: column;
    gap: 3vw;
    width: 100%;
  }

  .selector .tab_content .option {
    width: 100%;
    padding: 3vw;
    font-size: 3vw;
    border-radius: 20px;
    outline-offset: -2px;
    background-color: transparent;
  }

  .selector .tab_content .option > p {
    font-size: 5vw;
  }

  .option.date span {
    /* font-size: 3vw; */
  }
}


/* タブレットサイズで2行2列に */
@media screen and (max-width: 1024px) and (min-width: 601px) {
  .selector {
    flex-direction: column;
    gap: 2vw;
    align-items: center;
  }
  .tab_row {
    flex-direction: row;
    gap: 2vw;
    width: 100%;
    justify-content: center;
  }
}

/* 1025px以上で元の横並びに戻す */
@media screen and (min-width: 1025px) {
  .selector {
    flex-direction: row;
    gap: 2vw;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
  }
  .tab_row {
    flex-direction: row;
    gap: 2vw;
    width: auto;
    justify-content: flex-start;
  }
}

.results {
  width: 80%;
  min-height: 50vh;
  margin-top: 5rem;
  padding-bottom: 10rem;

  @media screen and (max-width: 600px) {
    width: 95%;
  }

  .results_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (max-width: 1024px) and (min-width: 601px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      width: 100%;
    }
  }
}


.selected {
  --border-angle-1: 0deg;
  --border-angle-2: 90deg;
  --border-angle-3: 180deg;

  animation:
    rotateBorder1 3s linear infinite,
    rotateBorder2 8s linear infinite,
    rotateBorder3 13s linear infinite;

  position: relative;
  z-index: 0;
  border-radius: 12px; /* 外側枠 */
}

.selected::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background:
    conic-gradient(from var(--border-angle-1) at 10% 15%, transparent, rgb(150, 123, 241) 10%, transparent 30%),
    conic-gradient(from var(--border-angle-2) at 70% 60%, transparent, rgb(100, 160, 247) 10%, transparent 60%),
    conic-gradient(from var(--border-angle-3) at 50% 20%, transparent, rgb(209, 253, 248) 10%, transparent 50%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  background-origin: border-box;
  background-clip: border-box;
  z-index: -1;
  box-sizing: border-box;
}

.nav {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cba373;

  .nav_content {
    display: flex;
    padding: 1.8rem 3rem;
    gap: 80px;
    border-top: 1px solid #cba373;
    border-bottom: 1px solid #cba373;
    font-family: var(--mincho);
    width: 100%;

    @media screen and (max-width: 768px) {
      padding: 1.4rem 0;
      gap: 20px;
    }

    &:nth-child(2) {
      border-top: 0px solid #cba373;
    }

    .nav_item_back_wrapper {
      display: flex;
      gap: 80px;

      @media screen and (max-width: 768px) {
        transform: translateX(-2rem);
        gap: 25px;
      }
    }

    .nav_item {
      position: relative;
      --fs-min: 20;
      --fs-max: 40;
      padding: 10px 0;
      line-height: 1;
      letter-spacing: 0;
      transition: opacity .2s linear;
      --fs-center: 25;
      word-wrap: break-word;
      font-size: 1.5rem;
      user-select: none;
      white-space: nowrap;

      &:not(.selected):hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #cba373;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.4s cubic-bezier(.25,1,.5,1);
        z-index: 1;
      }

      &:not(.selected)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #cba373;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s cubic-bezier(.25,1,.5,1);
        z-index: 1;
      }

      &.nav_item_back::before {
        z-index: auto;
        position: absolute;
        top: 48%;
        right: calc(100% + 20px);
        width: 40px;
        height: 1px;
        background: #cba373;
        content: "";
      }

      &.selected::after {
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        transform-origin: left top;
        /* scale: 0 1; */
        background: #cba373;
        content: "";
        transition: scale cubic-bezier(.25,1,.5,1) .6s;
      }

      &.selected {
        background-color: var(--text);
      }

      &.pre {
        width: 7.5rem;
        font-size: 1.8rem;
        word-break: keep-all;
        white-space: nowrap;
        text-align: center;
        font-family: var(--workSans);
      }

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        word-break: keep-all;
        white-space: nowrap;

        &.pre {
          font-size: 1.2rem;
          width: 6rem;
          word-break: none;
          white-space: normal;
          transform: rotate(90deg) translateY(60%);
        }

        &.nav_item_back::before {
          right: calc(100% + 7px);
          width: 10px;
        }

        &:not(.pre) {
          word-break: none;
          white-space: normal;
        }
      }
    }
  }
}
