.functionItem {
  background-color: rgb(240, 240, 240, 0.1);
  border-radius: 1.5rem;
  text-align: center;
  width: 15vw;
  height: calc(15vw * 0.6);
  margin-top: 1rem;

  @media screen and (max-width: 1200px) {
    width: 30vw;
    height: calc(30vw * 0.6);
  }

  @media screen and (max-width: 768px) {
    width: 35vw;
    height: calc(35vw * 0.6);
  }

  @media screen and (max-width: 480px) {
    width: 40vw;
    height: calc(40vw * 0.6);
  }

  .inner {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    position: relative;
    z-index: 2;

    .icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3vw;
      height: 3vw;

      @media screen and (max-width: 1200px) {
        width: 5vw;
        height: 5vw;
      }

      @media screen and (max-width: 768px) {
        width: 7vw;
        height: 7vw;
      }

      @media screen and (max-width: 480px) {
        width: 2.2rem;
        height: 2.2rem;
      }

      .icon_svg {
        width: 100%;
        height: 100%;
        filter: brightness(4);
      }
    }

    .title {
      position: absolute;
      bottom: 15%;
      left: 8%;

      color: #fff;
      font-family: 'ZenOldMincho', serif;
      /* color: black; */
      font-size: 1.5vw;
      font-weight: 450;

      @media screen and (max-width: 1200px) {
        /* bottom: 1;
        left: 1.2rem; */
        font-size: 3vw;
      }

      @media screen and (max-width: 768px) {
        bottom: 1.5rem;
        left: 1.2rem;
        font-size: 3.5vw;
      }

      @media screen and (max-width: 480px) {
        bottom: 1.2rem;
        left: 0.7rem;
        font-size: 1.2rem;
      }
    }
  }
}